.git
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log

data
artifacts
reports
mlruns
notebooks
dashboards
dolphindb
memory
tests

OHLSV*.csv
*.parquet
*.h5
*.pkl
*.joblib

postgres_data
redis_data
dolphindb_data
grafana_data
